<cyber>
    <module>
        <name>Image Provider</name>
        <dag_conf>/apollo/modules/scenario/dag/image_provider_component.dag</dag_conf>
        <process_name>image_provider</process_name>
    </module>
    <module>
        <name>PointCloud128Provider</name>
        <dag_conf>/apollo/modules/scenario/dag/point_cloud_128_provider_component.dag</dag_conf>
        <process_name>point_cloud_128_provider</process_name>
    </module>
</cyber>
